body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    }

h1 {
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    text-align: center;
    color: blue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
    text-align: center;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.game-data-card {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background: white;
    padding: 10px 10px 10px 10px;
    margin: 50px;
}

.thumb-img-wrap {
    align-content: center;
    text-align: center;
    vertical-align: center;
}

.rank-text {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.title-text {
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.description-box {
    padding-top: 10px;
}

.profile-pic {
    max-height: 100px;
}

.media {
    margin-top: 10px;
}

.commentBtn {
    padding: 10px;
}