body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    /* text-align: center; */
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color: blue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
    text-align: center;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.success-card {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background: white;
    padding: 10px 10px 10px 10px;
    margin-top: 3rem;
}
