<!doctype html>
<html lang="en">

<head>
    <div th:replace="fragments/boilerplate :: head"></div>
    <link rel="stylesheet" th:href="@{~/css/account.css}">
    <title>My Account</title>
</head>

<body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">

        <div th:if="${message}">
            <h2 th:text="${message}"></h2>
        </div>

        <div th:if="${incorrectUser == false}">

            <div class="row">
                <div class="col-md"></div>
                <div class="col-md-8 account-card">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="#">
                                <img class="img-fluid img-thumbnail rounded profile-pic" th:src="@{'/upload/' + ${user.avatar}}" alt="Profile picture">
                            </a>
                        </div>
                        <div class="col-md-8 d-flex p-2 flex-column align-items-center justify-content-between">
                            <div class="p-2">
                                <h3 th:text="${user.username}"></h3>
                            </div>
                            <div class="p-2">
                                <p>Member since: 01/01/2001</p>
                            </div>
                            <div class="p-2 align-self-start">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#profile-modal">Change Profile Pic</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md"></div>
            </div>

            <!-- Profile Pic Modal -->
            <div class="modal" tabindex="-1" role="dialog" id="profile-modal">
                <div class="modal-dialog" role="document">
                  <form action="/upload" enctype="multipart/form-data" method="POST">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Update Profile Picture</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                                <div class="form-group">
                                        <input type="file" name="file">
                                </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="submit" class="btn btn-success">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                  </form>
                </div>
            </div>

            <div>
                <h2 class="text-center">Your Games</h2>
            </div>

            <div th:if="${games.isEmpty()}">
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-8 d-flex p-2 flex-column align-items-center account-card">
                        <div class="p-2">
                            <p class="no-game-text">Whoops...looks like you haven't added any games yet.</p>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-success" id="addGameBtn">Add a Game</button>
                        </div>
                    </div>
                    <div class="col-md"></div>
                </div>
            </div>

            <div th:unless="${games.isEmpty()}">
                <div th:replace="fragments/game-results :: game-results"></div>
            </div>

        </div>

        <div th:if="${incorrectUser == true}">

            <div class="row">
                <div class="col-md"></div>
                <div class="col-md-8 d-flex p-2 flex-column align-items-center account-card">
                    <div class="p-2">
                        <h2 class="no-game-text">Hmm... you shouldn't be here.</h2>
                    </div>
                    <div class="p-2">
                        <button class="btn btn-danger" id="myActBtn">Go to My Account</button>
                    </div>
                </div>
                <div class="col-md"></div>
            </div>

        </div>


        <div th:replace="fragments/boilerplate :: js"></div>
        <script type="text/javascript" th:src="@{~/js/account.js}"></script>
</body>

</html>