<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="css/game.css">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>Plahceholder</title>
</head>

<body>


  <div class="container">
    <div class="header">
      <h1 class="text-center" th:text="${game.name}"></h1>
    </div>
    <br><br><br>

    <!-- Game Metadata -->
    <div class=game-data-card>
      <div class="row" id="gameMetadataRow">
        <div class="col-md-4">
          <div class="row thumb-img-wrap">
            <div class="col-md-12" id="gameImg">
              <img th:src="${game.img_url}" class="img-thumbnail">
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-8">
              <h2 class="title-text" th:text="${game.name}"></h2>
            </div>
            <div class="col-md-4">
              <h2 class=”rank-text“ th:text="'Rank: ' + ${game.gameRank}"></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" id="gameNumOfPlayers">
              <h5 th:text="'# of Players: ' + ${game.min_player} + ' to ' + ${game.max_player}"></h5>
            </div>
            <div class="col-md-4" id="gamePlayTime">
              <h5 th:text="'Average Playtime: ' + ${game.avg_play_time} +  ' min'"></h5>
            </div>
            <div class="col-md-4" id="gameAge">
              <h5 th:text="'Recommended Age: ' + ${game.age} + '+'"></h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12" id="gameDesigner">
                  <p th:text="'Designer: ' + ${game.designer}"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" id="gamePublisher">
                  <p th:text="'Publisher: ' + ${game.publisher}"></p>
                </div>
              </div>
            </div>
            <div class="col-md-6" id="bggLink">
              <p>Board Game Geeks Link</p>
              <p><a th:href=${game.bgg_url} th:text="${game.bgg_url}"></a></p>
            </div>
          </div>
          <div class="row" th:if="${game.is_user_made == true}">
            <div class="col-md"></div>
            <div class="col-md-6">
              <button class="btn btn-danger btn-block" id="editBtn">EDIT</button>
            </div>
            <div class="col-md"></div>
          </div>
        </div>
      </div>

      <!-- Game Description -->
      <br>
      <br>

      <div class="row">
        <div class="col-md-12 description-box">
          <h2>Description</h2>
          <p th:text="${game.description}"></p>
        </div>
      </div>

      <!-- Comments -->
      <!--    <div class="row">-->
      <!--      <div class="col-md-12" id="comment-row">-->
      <!--        <h2>Comments</h2>-->

      <!--      </div>-->
      <!--    </div>-->

      <!--    <script id="comment-template" type="text/x-handlebars-template">-->
      <!--        <div class="media comment">-->
      <!--          <img class="align-self-center mr-3 img-thumbnail avatar" src={{imgURL}}-->
      <!--            alt="Generic placeholder image">-->
      <!--          <div class="media-body">-->
      <!--            <h5 class="mt-0" class="comment-title">{{title}}</h5>-->
      <!--              {{{body}}}-->
      <!--          </div>-->
      <!--        </div>-->
      <!--    </script>-->
    </div>


  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="js/game.js"></script>
</body>

</html>