<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <div th:replace="fragments/boilerplate :: head"></div>
  
  <link rel="stylesheet" th:href="@{css/search.css}">

  <title>Search for Games</title>
</head>

<body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-10 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Filters</h5>
                <form class="form-signin"  action="/query" method="get">
    
                  <!-- Rank -->
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <span class="filter-text">Rank</span>
                    </div>
                    <div class="form-group col-md-1">
                      <input type="text" class="form-control" name="rank-min" placeholder="min">
                    </div>
                    <div class="form-group col-md-2">
                      <p class="filter-text">to</p>
                    </div>
                    <div class="form-group col-md-1">
                      <input type="text" class="form-control" name="rank-max" placeholder="max">
                    </div>
    
                    <!-- # of Players -->
                    <div class="form-group col-md-2">
                      <p class="filter-text"># of Players</p>
                    </div>
                    <div class="form-group col-md-1">
                      <input type="text" class="form-control" name="num-of-players-min" placeholder="min">
                    </div>
                    <div class="form-group col-md-2">
                      <p class="filter-text">to</p>
                    </div>
                    <div class="form-group col-md-1">
                      <input type="text" class="form-control" name="num-of-players-max" placeholder="max">
                    </div>
    
                    <!-- Year -->
    
                    <div class="form-row">
                      <div class="form-group col-md-2">
                        <span class="filter-text">Year</span>
                      </div>
                      <div class="form-group col-md-1">
                        <input type="text" class="form-control" name="year-min" placeholder="min">
                      </div>
                      <div class="form-group col-md-2">
                        <p class="filter-text">to</p>
                      </div>
                      <div class="form-group col-md-1">
                        <input type="text" class="form-control" name="year-max" placeholder="max">
                      </div>
    
                      
                      <!-- Avg Play Time -->
                      <div class="form-group col-md-2">
                        <p class="filter-text">Avg Play Tim</p>
                      </div>
                      <div class="form-group col-md-1">
                        <input type="text" class="form-control" name="avg-play-time-min" placeholder="min">
                      </div>
                      <div class="form-group col-md-2">
                        <p class="filter-text">to</p>
                      </div>
                      <div class="form-group col-md-1">
                        <input type="text" class="form-control" name="avg-play-time-max" placeholder="max">
                      </div>
    
                      <!-- Min Play Time -->
                      <div class="form-row">
                        <div class="form-group col-md-2">
                          <span class="filter-text">Min Play Time</span>
                        </div>
                        <div class="form-group col-md-1">
                          <input type="text" class="form-control" name="min-play-time-min" placeholder="min">
                        </div>
                        <div class="form-group col-md-2">
                          <p class="filter-text">to</p>
                        </div>
                        <div class="form-group col-md-1">
                          <input type="text" class="form-control" name="min-play-time-max" placeholder="max">
                        </div>
    
                        <!-- Max Play Time -->
                        <div class="form-group col-md-2">
                          <p class="filter-text">Max Play Time</p>
                        </div>
                        <div class="form-group col-md-1">
                          <input type="text" class="form-control" name="max-play-time-min" placeholder="min">
                        </div>
                        <div class="form-group col-md-2">
                          <p class="filter-text">to</p>
                        </div>
                        <div class="form-group col-md-1">
                          <input type="text" class="form-control" name="max-play-time-max" placeholder="max">
                        </div>
    
                        <!-- Votes -->
                        <div class="form-row">
                          <div class="form-group col-md-2">
                            <span class="filter-text"># of Votes</span>
                          </div>
                          <div class="form-group col-md-1">
                            <input type="text" class="form-control" name="votes-min" placeholder="min">
                          </div>
                          <div class="form-group col-md-2">
                            <p class="filter-text">to</p>
                          </div>
                          <div class="form-group col-md-1">
                            <input type="text" class="form-control" name="votes-max" placeholder="max">
                          </div>
    
                          <!-- Recommended Age -->
                          <div class="form-group col-md-2">
                            <p class="filter-text">Rec. Age</p>
                          </div>
                          <div class="form-group col-md-1">
                            <input type="text" class="form-control" name="age-min" placeholder="min">
                          </div>
                          <div class="form-group col-md-2">
                            <p class="filter-text">to</p>
                          </div>
                          <div class="form-group col-md-1">
                            <input type="text" class="form-control" name="age-max" placeholder="max">
                          </div>
                          <!-- # of Fans -->
                          <div class="form-row">
                            <div class="form-group col-md-4">
                              <span class="filter-text"># of Fans</span>
                            </div>
                            <div class="form-group col-md-2">
                              <input type="text" class="form-control" name="fans-min" placeholder="min">
                            </div>
                            <div class="form-group col-md-4">
                              <p class="filter-text">to</p>
                            </div>
                            <div class="form-group col-md-2">
                              <input type="text" class="form-control" name="fans-max" placeholder="max">
                            </div>
                          </div>
    
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" onclick="return false;" id="submissionBtn">Submit</button>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" onclick="return false;" id="addBtn">Add Game</button>
                            <hr class="my-4">

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


<div th:replace="fragments/boilerplate :: js"></div>
<script type="text/javascript" src="js/search.js"></script>

</body>

</html>